.hidden-h1:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    font-size: 1.2vw;
}

img {
    width: 100%;
}

li {
    margin: 0.25em 0;
}
.strong {
    font-weight: bold;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 0.1rem;
    margin-bottom: 1rem;
}

.section-gray {
    background-color: #f6f6f6;
}